In [1]:
import pandas as pd
from pandas import TimeSeries
import numpy as np
import math
from bokeh.charts import TimeSeries, output_file, show
import statsmodels.tsa.stattools as stat

In [30]:
sp500=pd.read_csv('C:/mine/Course/9894/project/data/sp_500_daily_prices.csv',usecols=['date','COMNAM','PRC',\
                    'RET','ASK','BID'],engine='c')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [37]:
date.index(start)

4274196

In [50]:
period

60

In [38]:
date=sorted(list(sp500['date']))
date[-9*period+date.index(start)]

20121231

In [ ]:
train_start=date[-9*period+date.index(start)]

In [32]:
if 10*period<len(date):
    train_start=date[-9*period-date.index(start)]
sp_recent=sp500[sp500['date']>=train_start]
sp_recent=sp_recent[sp_recent['date']<=date[date.index(start)+period]]

In [33]:
sp_recent

             date                   COMNAM     PRC        RET    BID    ASK
665      19920818  ACME CLEVELAND CORP NEW   7.000          0    NaN    NaN
666      19920819  ACME CLEVELAND CORP NEW   6.875  -0.017857    NaN    NaN
667      19920820  ACME CLEVELAND CORP NEW   7.000   0.018182    NaN    NaN
668      19920821  ACME CLEVELAND CORP NEW   6.875  -0.017857    NaN    NaN
669      19920824  ACME CLEVELAND CORP NEW   6.750  -0.018182    NaN    NaN
670      19920825  ACME CLEVELAND CORP NEW   6.375  -0.055556    NaN    NaN
671      19920826  ACME CLEVELAND CORP NEW   6.500   0.019608    NaN    NaN
672      19920827  ACME CLEVELAND CORP NEW   6.875   0.057692    NaN    NaN
673      19920828  ACME CLEVELAND CORP NEW   6.875          0    NaN    NaN
674      19920831  ACME CLEVELAND CORP NEW   6.750  -0.018182    NaN    NaN
675      19920901  ACME CLEVELAND CORP NEW   6.750          0    NaN    NaN
676      19920902  ACME CLEVELAND CORP NEW   6.750          0    NaN    NaN
677      19920903  ACME CLEVELAND CORP NEW   6.875   0.018519    NaN    NaN
678      19920904  ACME CLEVELAND CORP NEW   6.625  -0.036364    NaN    NaN
679      19920908  ACME CLEVELAND CORP NEW   6.625          0    NaN    NaN
680      19920909  ACME CLEVELAND CORP NEW   6.500  -0.018868    NaN    NaN
681      19920910  ACME CLEVELAND CORP NEW   6.375  -0.019231    NaN    NaN
682      19920911  ACME CLEVELAND CORP NEW   6.625   0.039216    NaN    NaN
683      19920914  ACME CLEVELAND CORP NEW   6.625          0    NaN    NaN
684      19920915  ACME CLEVELAND CORP NEW   7.000   0.056604    NaN    NaN
685      19920916  ACME CLEVELAND CORP NEW   7.125   0.017857    NaN    NaN
686      19920917  ACME CLEVELAND CORP NEW   6.875  -0.035088    NaN    NaN
687      19920918  ACME CLEVELAND CORP NEW   6.875          0    NaN    NaN
688      19920921  ACME CLEVELAND CORP NEW   6.875          0    NaN    NaN
689      19920922  ACME CLEVELAND CORP NEW   6.875          0    NaN    NaN
690      19920923  ACME CLEVELAND CORP NEW   6.750  -0.018182    NaN    NaN
691      19920924  ACME CLEVELAND CORP NEW   6.750          0    NaN    NaN
692      19920925  ACME CLEVELAND CORP NEW   6.750          0    NaN    NaN
693      19920928  ACME CLEVELAND CORP NEW   6.750          0    NaN    NaN
694      19920929  ACME CLEVELAND CORP NEW   6.750          0    NaN    NaN
...           ...                      ...     ...        ...    ...    ...
4746845  20121119      Q E P RESOURCES INC  27.630   0.035995  27.62  27.63
4746846  20121120      Q E P RESOURCES INC  27.720   0.003257  27.70  27.71
4746847  20121121      Q E P RESOURCES INC  28.630   0.032828  28.62  28.63
4746848  20121123      Q E P RESOURCES INC  28.690   0.002096  28.70  28.71
4746849  20121126      Q E P RESOURCES INC  28.590  -0.003486  28.58  28.59
4746850  20121127      Q E P RESOURCES INC  28.300  -0.010143  28.29  28.30
4746851  20121128      Q E P RESOURCES INC  28.150  -0.005300  28.13  28.14
4746852  20121129      Q E P RESOURCES INC  28.210   0.002131  28.21  28.22
4746853  20121130      Q E P RESOURCES INC  28.120  -0.003190  28.12  28.13
4746854  20121203      Q E P RESOURCES INC  28.520   0.014225  28.52  28.53
4746855  20121204      Q E P RESOURCES INC  28.500  -0.000701  28.50  28.51
4746856  20121205      Q E P RESOURCES INC  29.560   0.037193  29.56  29.57
4746857  20121206      Q E P RESOURCES INC  29.880   0.010825  29.88  29.89
4746858  20121207      Q E P RESOURCES INC  29.950   0.002343  29.95  29.96
4746859  20121210      Q E P RESOURCES INC  29.640  -0.010351  29.64  29.65
4746860  20121211      Q E P RESOURCES INC  29.700   0.002024  29.70  29.71
4746861  20121212      Q E P RESOURCES INC  29.960   0.008754  29.96  29.97
4746862  20121213      Q E P RESOURCES INC  29.900  -0.002003  29.90  29.91
4746863  20121214      Q E P RESOURCES INC  29.670  -0.007692  29.67  29.68
4746864  20121217      Q E P RESOURCES INC  30.140   0.015841  30.14  30.15
4746865  20121218      Q E P RESOURCES INC  30.970   0.027538  30.96  30.97
4746866  20121219      Q E P RESOURCES INC  30.340  -0.020342  30.34  30.35
4746867  20121220      Q E P RESOURCES INC  30.510   0.005603  30.50  30.51
4746868  20121221      Q E P RESOURCES INC  30.320  -0.006227  30.31  30.32
4746869  20121224      Q E P RESOURCES INC  30.040  -0.009235  30.03  30.04
4746870  20121226      Q E P RESOURCES INC  29.920  -0.003995  29.92  29.93
4746871  20121227      Q E P RESOURCES INC  30.140   0.007353  30.13  30.14
4746872  20121228      Q E P RESOURCES INC  29.610  -0.017585  29.61  29.62
4746873  20121231      Q E P RESOURCES INC  30.270   0.022290  30.26  30.27
4746874  20130102      Q E P RESOURCES INC  30.620   0.011563  30.61  30.62

[3801811 rows x 6 columns]

In [24]:
start+int(0.9*(end-start))

20145101

In [26]:
data_in=sp_recent[sp_recent['date']>=start+int(0.9*(end-start))]
data_in=data_in[data_in['date']<=end]
data_in

Empty DataFrame
Columns: [date, COMNAM, PRC, RET, BID, ASK]
Index: []

In [52]:
start=20130102
end=20150101
period=6

In [58]:
data,pairs=find_pair(start,period)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2881: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

data_processing_done
find_cointegrated_pairs_done
filter_pair_done
find_pair_done

In [59]:
set(data['date'])

{20121221,
 20121224,
 20121226,
 20121227,
 20121228,
 20121231,
 20130102,
 20130103,
 20130104,
 20130107,
 20130108,
 20130109}

In [55]:
data

             date                   COMNAM      PRC        RET    BID    ASK
12497    20121221              ORACLE CORP  33.7600  -0.005298  33.76  33.77
12498    20121224              ORACLE CORP  33.6100  -0.004443  33.60  33.61
12499    20121226              ORACLE CORP  33.6100          0  33.58  33.59
12500    20121227              ORACLE CORP  33.2700  -0.010116  33.27  33.28
12501    20121228              ORACLE CORP  33.0200  -0.007514  33.02  33.03
12502    20121231              ORACLE CORP  33.3200   0.009085  33.32  33.33
12503    20130102              ORACLE CORP  34.6900   0.041116  34.72  34.73
12504    20130103              ORACLE CORP  34.3100  -0.010954  34.32  34.33
12505    20130104              ORACLE CORP  34.6100   0.008744  34.66  34.67
12506    20130107              ORACLE CORP  34.4300  -0.005201  34.41  34.42
12507    20130108              ORACLE CORP  34.4400    0.00029  34.50  34.51
12508    20130109              ORACLE CORP  34.4600   0.000581  34.44  34.45
12509    20130110              ORACLE CORP  34.9100   0.013059  34.90  34.91
19051    20121221           MICROSOFT CORP  27.4500  -0.008309  27.48  27.49
19052    20121224           MICROSOFT CORP  27.0600  -0.014208  27.06  27.07
19053    20121226           MICROSOFT CORP  26.8600  -0.007391  26.86  26.87
19054    20121227           MICROSOFT CORP  26.9600   0.003723  26.95  26.96
19055    20121228           MICROSOFT CORP  26.5500  -0.015208  26.55  26.56
19056    20121231           MICROSOFT CORP  26.7097   0.006015  26.72  26.73
19057    20130102           MICROSOFT CORP  27.6200   0.034081  27.65  27.66
19058    20130103           MICROSOFT CORP  27.2500  -0.013396  27.27  27.29
19059    20130104           MICROSOFT CORP  26.7400  -0.018716  26.75  26.76
19060    20130107           MICROSOFT CORP  26.6900   -0.00187  26.71  26.71
19061    20130108           MICROSOFT CORP  26.5500  -0.005245  26.54  26.55
19062    20130109           MICROSOFT CORP  26.7000    0.00565  26.69  26.70
19063    20130110           MICROSOFT CORP  26.4600  -0.008989  26.47  26.48
34877    20121221   T ROWE PRICE GROUP INC  65.8900  -0.009173  65.91  65.93
34878    20121224   T ROWE PRICE GROUP INC  65.9000   0.000152  65.89  65.90
34879    20121226   T ROWE PRICE GROUP INC  65.2200  -0.010319  65.20  65.21
34880    20121227   T ROWE PRICE GROUP INC  65.0500  -0.002607  65.04  65.05
...           ...                      ...      ...        ...    ...    ...
4743975  20130107  DOLLAR GENERAL CORP NEW  43.7200  -0.019731  43.72  43.73
4743976  20130108  DOLLAR GENERAL CORP NEW  43.3600  -0.008234  43.36  43.37
4743977  20130109  DOLLAR GENERAL CORP NEW  42.9900  -0.008533  42.98  42.99
4743978  20130110  DOLLAR GENERAL CORP NEW  43.3800   0.009072  43.36  43.37
4745482  20121221        E N S C O PLC NEW  59.6800  -0.010774  59.68  59.69
4745483  20121224        E N S C O PLC NEW  59.2000  -0.008043  59.19  59.20
4745484  20121226        E N S C O PLC NEW  58.9100  -0.004899  58.92  58.93
4745485  20121227        E N S C O PLC NEW  58.3700  -0.009167  58.36  58.37
4745486  20121228        E N S C O PLC NEW  57.6100  -0.013020  57.61  57.63
4745487  20121231        E N S C O PLC NEW  59.2800   0.028988  59.26  59.27
4745488  20130102        E N S C O PLC NEW  61.7900   0.042341  61.78  61.79
4745489  20130103        E N S C O PLC NEW  60.6700  -0.018126  60.64  60.66
4745490  20130104        E N S C O PLC NEW  62.7300   0.033954  62.72  62.73
4745491  20130107        E N S C O PLC NEW  62.5000  -0.003667  62.48  62.50
4745492  20130108        E N S C O PLC NEW  61.7800  -0.011520  61.78  61.79
4745493  20130109        E N S C O PLC NEW  61.6900  -0.001457  61.69  61.70
4745494  20130110        E N S C O PLC NEW  61.5000  -0.003080  61.49  61.50
4746868  20121221      Q E P RESOURCES INC  30.3200  -0.006227  30.31  30.32
4746869  20121224      Q E P RESOURCES INC  30.0400  -0.009235  30.03  30.04
4746870  20121226      Q E P RESOURCES INC  29.9200  -0.003995  29.92  29.93
4746871  20121227      Q E P RESOURCES INC  30.1400   0.007353  30.13  30.14
4746872  20121228      Q E P RESOURCES INC  29.6100  -0.017585  29.61  29.62
4746873  20121231      Q E P RESOURCES INC  30.2700   0.022290  30.26  30.27
4746874  20130102      Q E P RESOURCES INC  30.6200   0.011563  30.61  30.62
4746875  20130103      Q E P RESOURCES INC  30.9300   0.010124  30.93  30.95
4746876  20130104      Q E P RESOURCES INC  31.3700   0.014226  31.35  31.37
4746877  20130107      Q E P RESOURCES INC  29.7800  -0.050685  29.77  29.78
4746878  20130108      Q E P RESOURCES INC  29.6800  -0.003358  29.65  29.67
4746879  20130109      Q E P RESOURCES INC  29.3900  -0.009771  29.38  29.39
4746880  20130110      Q E P RESOURCES INC  29.4500   0.002042  29.44  29.45

[8299 rows x 6 columns]

In [51]:
def data_process(start,period):
    sp500=pd.read_csv('C:/mine/Course/9894/project/data/sp_500_daily_prices.csv',usecols=['date','COMNAM','PRC',\
                    'RET','ASK','BID'],engine='c')
    date=sorted(list(set(sp500['date'])))
    if 10*period<len(date):
        train_start=date[-9*period+date.index(start)]
    sp_recent=sp500[sp500['date']>=train_start]
    sp_recent=sp_recent[sp_recent['date']<=date[date.index(start)+period]]
    
    # date_list=sorted(list(sp_recent['date']))
    company_recent=list(sp_recent[sp_recent['date']==start]['COMNAM'])
    sp_orig=sp_recent[sp_recent['COMNAM']==company_recent[0]][['date','RET']]
    sp_orig=pd.DataFrame(list(sp_orig['RET']),columns=[company_recent[0]],index=list(sp_orig['date']))
    sp_orig=sp_orig[~sp_orig.index.duplicated(keep='first')]
    for i in range(1,len(company_recent)):
        company=company_recent[i]
        current_data=sp_recent[sp_recent['COMNAM']==company][['date','RET']]
        ret=pd.DataFrame(list(current_data['RET']),columns=[company],index=list(current_data['date']))
        ret =ret[~ret.index.duplicated(keep='first')]
        sp_orig=pd.concat([sp_orig,ret],join='outer',axis=1)
    sp_ret=sp_orig.loc[train_start:start,:]
    sp_ret=sp_ret.dropna(axis=1)
    
    
    '''
    #sp_price=sp_recent[sp_recent['COMNAM']==company_recent[-1]][['date','PRC']]
    #sp_price=pd.DataFrame(list(sp_price['PRC']),columns=[company_recent[-1]],index=list(sp_price['date']))
    ##
    for company in company_recent:
        current_data=sp_recent[sp_recent['COMNAM']==company][['date','PRC']]
        price=pd.DataFrame(list(current_data['PRC']),columns=[company],index=list(current_data['date']))
        price =price[~price.index.duplicated(keep='first')]
        sp_price=pd.concat([sp_price,price],join='outer',axis=1)
    sp_price=sp_price.loc[train_start:start,:]
    '''
    
    #print('data_processing_done')
    return sp_recent,sp_ret,date

In [42]:
def filter_pair(pairs):
    selected_pair=[]
    stock_list=[]
    for pair in pairs:
        if pair[0] not in stock_list and pair[1] not in stock_list:
            selected_pair+=[pair]
            stock_list+=pair
            
    #print('filter_pair_done')
    return selected_pair

In [57]:
def find_pair(start,end):
    sp_recent,sp_ret,date=data_process(start,period)
    error_return=['E','D','C','B','A','']
    sp_ret=sp_ret.applymap(lambda x:np.float64(0.0) if x in error_return else np.float64(x))
    sp_pca=np.array(sp_ret)
    cov_company=np.cov(sp_pca)
    cov_company[np.isnan(cov_company)] = 0.0
    eigen_val,eigen_vector=np.linalg.eig(cov_company)
    eigen_vector_max=list(zip(eigen_vector[np.argmax(eigen_val)],sp_ret.columns))
    eigen_vector_max.sort(key=lambda x:x[0],reverse=True)
    eigen_vector_max=list(zip(*eigen_vector_max))
    data=sp_ret[list(eigen_vector_max[1][0:20])]
    score_matrix, pvalue_matrix, pairs=find_cointegrated_pairs(data)
    selected_pair=filter_pair(pairs)
    data_inuse=sp_recent[sp_recent['date']>=date[-period+date.index(start)]]
    data_inuse=data_inuse[data_inuse['date']<date[date.index(start)+period]]
    
    #print('find_pair_done')
    return data_inuse,selected_pair

In [40]:
def find_cointegrated_pairs(data):
    n = len(data.columns)
    score_matrix = np.zeros((n, n))
    pvalue_matrix = np.ones((n, n))
    keys = list(data.columns)
    pairs = []
    for i in range(n):
        for j in range(i+1, n):
            S1 = np.array(data[keys[i]])
            S2 = np.array(data[keys[j]])
            result = stat.coint(S1, S2)
            score = result[0]
            pvalue = result[1]
            score_matrix[i, j] = score
            pvalue_matrix[i, j] = pvalue
            if pvalue < 0.01:
                pairs.append((keys[i], keys[j]))
    
    #print('find_cointegrated_pairs_done')
    return score_matrix, pvalue_matrix, pairs

In [13]:
sp_new=sp_new.dropna(axis=1)

In [14]:
error_return=['E','D','C','B','A','']

In [15]:
sp_new=sp_new.applymap(lambda x:np.float64(0.0) if x in error_return else np.float64(x))

In [16]:
sp_pca=np.array(sp_new)

In [17]:
cov_company=np.cov(sp_pca)

In [18]:
cov_company[np.isnan(cov_company)] = 0.0

In [19]:
eigen_val,eigen_vector=np.linalg.eig(cov_company)

In [20]:
eigen_vector_max=list(zip(eigen_vector[np.argmax(eigen_val)],sp_new.columns))

In [21]:
eigen_vector_max.sort(key=lambda x:x[0],reverse=True)

In [22]:
eigen_vector_max=list(zip(*eigen_vector_max))

In [25]:

#sp_price=sp_price.dropna(axis=1)

In [27]:
data=sp_price[list(eigen_vector_max[1][:20])]

In [28]:
score_matrix, pvalue_matrix, pairs=find_cointegrated_pairs(data)

In [43]:
selected_pair=filter_pair(pairs)

In [ ]:
selected_pair=filter_pair(pairs)
data_inuse=sp_recent=sp500[sp500['date']>=date_list[int(0.9*len(date_list))] and sp500['date']<=date_list[-1]]

In [8]:
sp_orig=sp_recent[sp_recent['COMNAM']==company_recent[0]][['date','RET']]
sp_orig=pd.DataFrame(list(sp_orig['RET']),columns=[company_recent[0]],index=list(sp_orig['date']))
sp_orig=sp_orig[~sp_orig.index.duplicated(keep='first')]